.card-car{
    display:flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    
}
.card-text{
    height: 80px;
    overflow: hidden;
}
.info{
    width:100%;
    height: 40px;
    transform: translateY(-30px);
    background: rgb(0,29,255, 0.8);
    background: linear-gradient(187deg, rgba(0, 30, 255, 0.348) 17%, rgba(239, 1, 247, 0.4) 96%); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    cursor:pointer;

}
.info>i{
    text-decoration: none !important;
    color:white;
}
.info:hover{
    font-size: 30px;
    background-color: rgb(17, 240, 17, .5);
}

.iconAddCard{
    color:white;
    font-size: 30px;
    cursor:pointer;
    background-color: rgb(17, 240, 17);
    padding:8px;
    border-radius: 35px;
    
}
.iconAddCard:hover{
    color:black;
    background-color: rgb(165, 245, 165);
}