.Listproducts{
    width:100%;
    display:grid;
    grid-template-columns: auto;
    padding-left:5px;
    padding-right: 5px;
    align-items: center;
}

.Listproducts>div{
    width:80%;
    height: 630px;   
}
.Listproducts>div>div{
    width:100%;
    height: 100%;
}

@media (min-width: 576px) { 

    .Listproducts{
        display:grid;
        grid-template-columns: auto auto;
    }
    .Listproducts>div{
        width:300px;
        height: 630px;
        
    }
    .Listproducts>div>div{
        width:100%;
        height: 600px;
    }
    .Listproducts>div>div>div{
        width:100%;
        height: 100%;

    }



}


/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
@media (min-width: 767.98px) {  
    .Listproducts{
        display:grid;
        grid-template-columns: auto auto auto;
        gap : 20px;
    }
    .Listproducts>div{
        width:270px;
        height: 600px;
        
    }
    .Listproducts>div>div{
        width:100%;
        height: 540px;
    }
    .Listproducts>div>div>div{
        width:100%;
        height: 100%;
    }



}


/*Pantallas grandes (desktops de menos de 1200px)*/
@media (min-width: 1199.98px) { 


 }

/*Pantallas medianas (tablets de menos de 992px)*/
@media (min-width: 991.98px) {  }




